/* make advanced search widget displayed next to each other */
div#top---advanced---widgets,
div#center---default---widgets {
    display: inline-block;
    width: 100%;
}
div#top---advanced---widgets {
    background-color: #EEEEEE;
}

div#top---advanced---widgets div.faceted-widget,
div#center---default---widgets div.faceted-widget {
    float: left;
}

#faceted-form fieldset.widget-fieldset {
    padding-top: 0em;
    margin-top: 0em;
}

#content fieldset.widget-fieldset ul {
    margin-left: 0.5em;
    margin-right: 1em;
}

/* limit spacing in faceted widget under the fieldset legend */
.widget-fieldset legend {
    margin-bottom: 0em;
}

/* remove margin left so shown widget in center---default---widgets are aligned with tablde displaying results */
#faceted-form div#center---default---widgets fieldset {
    margin-left: 0em;
}

/* limit space on the top */
div#faceted-form {
   padding-top: 0em;
}
/* limit space on top, make 'more filters' link take less place */
#faceted-form .faceted-sections-buttons {
    position: fixed;
    right: 5em;
}